# Oluşturulma Tarihi: 2025-05-09
# Python: 3.12.10
Pillow==10.4.0
PySide6==6.8.2
joblib==1.4.2
librosa==0.11.0
matplotlib==3.10.0
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
pyyaml==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
tensorboard==2.18.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1